html, body {
    /* background-color: #ece9e9; */
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
  }
  .home img {
    width: 35%;
    height: 100%;
  }
  .full-height {
    height: 100vh;
  }
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .position-ref {
    position: relative;
  }
  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }
  .content {
    text-align: center;
  }
  .title {
    font-size: 84px;
  }
  .navbar-brand img{
    width: 40px;
  }
  .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 30px;
  }
  .m-b-md {
    margin-bottom: 27px;
  }
  footer {
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100vw;
    bottom: 0;
  }
  html, body {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
  }
  .full-height {
    height: 100vh;
  }
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .position-ref {
    position: relative;
  }
  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }
  .content {
    text-align: center;
  }
  .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  .m-b-md {
    margin-bottom: 30px;
  }
  footer {
    background: #eee;
    padding: 20px;
    text-align: center;
  }
  .title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #645f07;
    /* font-weight: bol; */
  }
  .wrapper {
    max-width: 1140px;
    padding: 10px;
    margin: 20px auto;
  }
  /* create pizza form */
  .create-pizza {
    background: #f7f7f7;
    padding: 20px;
  }
  .create-pizza label, .create-pizza select {
    display: block;
  }
  .create-pizza label {
    margin-top: 30px;
  }
  .create-pizza select {
    padding: 8px;
    width: 200px; 
  }
  .create-pizza input[type=text] {
    padding: 5px 15px;
    background-color: transparent;
    outline: none;
  }
  .create-pizza input[type=submit] {
    background-color: transparent;
    border: none;
    color: #3e3e3c;
    font-weight: bold;
    border: 2px solid #3e3e3c;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .create-pizza input[type=text]:focus{
    border: 1px solid #595957;
  }
  .create-pizza input[type=checkbox] {
    margin: 10px;
  }
  fieldset{
    border: 0;
  }
  fieldset .check-list{
    display: flex;
    flex-direction: row;
  }
  /* pizza details page */
  .pizza-details {
    background: #f7f7f7;
    padding: 20px;
  }
  .pizza-details p {
    margin: 20px 0;
    font-weight: bold;
  }
  .pizza-details .details-btn{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
  }
  .pizza-details .details-btn .back a{
    font-weight: bold;
    color: #645f07;
    text-decoration: none;
    padding-right: 20px;
  }
  a.back {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #5e2195;
    margin-bottom: 20px;
  }
  /* pizza index page */
  .pizza-index h1 {
    margin-bottom: 40px;
  }
  .pizza-index .pizza-item {
    margin: 10px 0;
    padding: 12px;
    background: #f4f4f4;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .pizza-index .pizza-item img {
    width: 60px;
    display: inline-block;
  }
  .pizza-index .pizza-item a {
    color: rgb(66, 64, 64);
    text-decoration: none;
    padding: 0;
    /* display: inline-block; */
    font-weight: normal;
    /* margin-left: 20px; */
  }
  .pizza-index .pizza-item h4 a {
    color: #777;
    text-decoration: none !important;
  }

  .home-btn{
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .home-btn a {
    background-color: transparent;
    border: none;
    color: #3e3e3c;
    font-weight: bold;
    border: 2px solid #3e3e3c;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
  }

  .welcom-btn{
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .welcom-btn a {
    background-color: transparent;
    border: none;
    color: #3e3e3c;
    font-weight: bold;
    border: 2px solid #3e3e3c;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
  }

  .details-btn .btn{
    background-color: transparent;
    border: none;
    color: #3e3e3c;
    font-weight: bold;
    border: 2px solid #3e3e3c;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }